*{
  margin:0;
  box-sizing: border-box;
  padding: 0;
}
body{
  background: black;
  color: white;
}
.bannerimg{
  mask-image:linear-gradient(to right,transparent, black 75%);
  -webkit-mask-image:linear-gradient(to right,transparent, black 75%);

}
.popular::-webkit-scrollbar{
  display: none;
}